<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <!-- importando fontes -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    </style>

    <title>Cadastro</title>
</head>
<body>
    <div class="container-geral">
        <h1>Cadastrar Usuário</h1>

        <form action="/post/cadastrarUsuario" method="POST" class="formatacao-form">
            <label>Nome</label>
            <input type="text" placeholder="Escreva seu nome" class="formatacao-inputs" name="nome" />

            <label>Usuário</label>
            <input type="text" placeholder="Escreva seu usuário" class="formatacao-inputs" name="login" />

            <label>Senha</label>
            <input type="text" placeholder="Escreva sua senha" class="formatacao-inputs" name="senha" />

            <button type="submit" class="formatacao-botao">Enviar</button>
        </form>

        <div class="div-links-login">
            <a class="link_cadastro_login" href="/login">JÁ possui um usuário? clique aqui!</a>
        </div>
    </div>
    

</body>
</html>