<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <!-- importando fontes -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    </style>

    <title>Feedback</title>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
    <div class="container-geral">
        <form action="/post/enviarDados" method="POST" class="formatacao-form">
            <label>Usuário</label>
            <input type="text" placeholder="Escreva seu nome de usuário" class="formatacao-inputs" name="usuario" />

            <label>Comentário</label>
            <input type="text" placeholder="Escreva seu comentário" class="formatacao-inputs" name="mensagem" />

            <button type="submit" class="formatacao-botao">Enviar</button>
        </form>

        <div class="container_comentario">
            <table>
                <thead>
                    <td>
                        MENSAGEM
                    </td>
                    <td>
                        DATA
                    </td>
                    <td>
                        CURTIDAS
                    </td>
                    <td>
                        AÇÕES
                    </td>
                </thead>
                <tbody>
                    {% for mensagem in mensagens %}
                    <tr>
                    <td>
                        {{mensagem.usuario}}
                    </td>
                    <td>
                        {{mensagem.data}}
                    </td>
                    <td>
                        {{mensagem.mensagem}}
                    </td>
                    <td>
                        <a href=""><button class="btn waves-effect waves-light" type="submit" name="action">Curtir</button></a> 
                    </td>
                    <td>
                        <a href="/delete/mensagem/{{mensagem.cod_comentario}}"><button class="btn waves-effect waves-light" type="submit" name="action">Excluir</button></a> 
                    </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    



</body>
</html>