<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <!-- importando fontes -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    </style>

    <title>Feedback</title>
</head>
<body>
    <div class="container-geral">
        <form action="/post/enviarDados" method="POST" class="formatacao-form">
            <label>Usuário</label>
            <input type="text" placeholder="Escreva seu nome de usuário" class="formatacao-inputs" name="usuario" />

            <label>Comentário</label>
            <input type="text" placeholder="Escreva seu comentário" class="formatacao-inputs" name="comentario" />

            <button type="submit" class="formatacao-botao">Enviar</button>
        </form>

        <div class="container_comentario">
            {% for mensagem in mensagens %}
            <label for="">nome:</label>
            <span>{{mensagem.usuario}}</span>

            <label for="">data:</label>
            <span>{{mensagem.data}}</span>

            <label for="">comentário:</label>
            <span>{{mensagem.mensagem}}</span>
            {% endfor %}
        </div>

    </div>
    



</body>
</html>